/*-- scss:defaults --*/

// $title-color: #f02; // From https://bootswatch.com/slate/
$title-color: #b6b7b9; // From https://bootswatch.com/slate/

.fa-orcid,
.quarto-title-author-orcid {
  // color: #aaa;
  color: #A6CE39;
}

// $link-color: #287bb5; // From Zephyr's "info" shade: https://bootswatch.com/zephyr/
$link-color: #64296B; // N3C purple
