# Adapted from https://ropensci.org/blog/2020/04/07/bookdown-learnings/ on 2021-10-08
on:
  push:
    branches:
      main
  
name: Render-Book-from-main

jobs:
  bookdown:
    name: Render-Book
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@v1
      - uses: r-lib/actions/setup-r@v1
      - uses: r-lib/actions/setup-pandoc@v1
      - name: Query dependencies
        run:
          Rscript -e "install.packages('remotes')" -e "saveRDS(remotes::dev_package_deps(dependencies = TRUE), 'depends.Rds', version = 2)"

      - name: Cache R packages
        uses: actions/cache@v1
        with:
          path: ${{ env.R_LIBS_USER }}
          key: ${{ runner.os }}-r-${{ hashFiles('depends.Rds') }}
          restore-keys: ${{ runner.os }}-r-

      - name: Install dependencies
        run:
          Rscript -e "library(remotes)" -e "deps <- readRDS('depends.Rds')" -e "deps[['installed']] <- vapply(deps[['package']], remotes:::local_sha, character(1))" -e "update(deps)"

      - name: Render Book
        run: Rscript -e 'bookdown::render_book("index.Rmd")'
      - name: Commit results
        if: github.repository == 'National-COVID-Cohort-Collaborative/book-of-n3c-v1'
        run: |
          # cp ghpagescname docs/CNAME
          # cp -r favicon/ docs/
          # cp images/logo.png docs/logo.png
          cd docs
          git config --global user.email "actions@github.com"
          git config --global user.name "gh-pages committer"
          git init
          git add .
          git commit -m 'update book on GitHub Actions'
          git push https://${{github.actor}}:${{secrets.GITHUB_TOKEN}}@github.com/${{github.repository}}.git HEAD:gh-pages --force
